<section class="py-5 text-center">
    <div class="container">
        <a (click)="openModal(template)">
            <i class="fab fa-youtube fa-5x"></i>
        </a>
        <h1>See What We Do</h1>
        <ng-template #template>
            <div class="modal-header ">
                <h4 class="modal-title ml-auto ">See What We Do </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div [innerHTML]="embeded" class="modal-body mx-auto my-3">
            </div>
        </ng-template>
    </div>
</section>