<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h1>What We Do</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, fuga eaque. Amet, assumenda aliquid
                    tempore dolorum
                    error eveniet doloribus sed repellat quod, dolores fuga ipsam soluta. Aliquam accusantium pariatur
                    aut sint deleniti
                    laborum ducimus voluptatem? Architecto cumque quod suscipit officiis soluta, voluptate dicta
                    blanditiis similique
                    praesentium temporibus adipisci debitis labore!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, fuga eaque. Amet, assumenda aliquid
                    tempore dolorum
                    error eveniet doloribus sed repellat quod, dolores fuga ipsam soluta. Aliquam accusantium pariatur
                    aut sint deleniti
                    laborum ducimus voluptatem? Architecto cumque quod suscipit officiis soluta, voluptate dicta
                    blanditiis similique
                    praesentium temporibus adipisci debitis labore!</p>
            </div>
            <div class="col-md-6 d-none d-md-block">
                <img src="https://source.unsplash.com/random/700x700/?technology" alt=""
                    class="img-fluid rounded w-75 d-block ml-auto">
            </div>

        </div>
    </div>
</section>