<section class="py-5 bg-dark text-white">
    <div class="container text-center">
        <h1>Sign Up For Our Newsletter</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio asperiores consectetur, quae ducimus
            voluptates
            vero repellendus architecto maiores recusandae mollitia?</p>
        <form class="form-inline justify-content-center">

            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-hand-point-right"></i>
                    </div>
                </div>
                <input type="text" class="form-control" placeholder="Enter Name">
            </div>

            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-envelope"></i> </div>
                </div>
                <input type="text" class="form-control" placeholder="Enter Email">
            </div>

            <button class="btn btn-outline-light mb-2">Submit</button>
        </form>
    </div>
</section>