<section class="p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h3>Lorem Ipsum</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate eveniet blanditiis incidunt iusto
                    corrupti illum
                    cum laudantium ex sequi amet.</p>
                <a routerLink="/about" class="btn btn-outline-secondary btn-lg">Learn More</a>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/img/laptop.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>